In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

# Get HTML from the first page

r_first_page = requests.get('https://www.payscale.com/college-salary-report/bachelors')



soup=BeautifulSoup(r_first_page.text,'html.parser')

table = soup.select("table.data-table")[0]
columns = table.find("thead").find_all("th")

#column_names = [c.string for c in columns]
table_rows = table.find("tbody").find_all("tr")
column_names = [c.get_text() for c in table.select('thead th')]

l=[]

for tr in table_rows:
    td = tr.select(".data-table__value")
    row = [str(tr.get_text()).strip() for tr in td]
    l.append(row)

In [2]:
# collect data from pag 2 to page 63

for i in range(2,64):
    

    next_page = requests.get(f'https://www.payscale.com/college-salary-report/bachelors/page/{i}')

    soup=BeautifulSoup(next_page.text,'html.parser')

    table = soup.select("table.data-table")[0]
    columns = table.find("thead").find_all("th")

    #column_names = [c.string for c in columns]
    table_rows = table.find("tbody").find_all("tr")
    column_names = [c.get_text() for c in table.select('thead th')]

    for tr in table_rows:
        td = tr.select(".data-table__value")
        row = [str(tr.get_text()).strip() for tr in td]
        l.append(row)

    
df_pay = pd.DataFrame(l,columns=column_names)

In [3]:
df_tuition = pd.read_csv('data/all-schools.csv')

/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3072: DtypeWarning: Columns (312) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
df_tuition.columns

Index(['UnitID', 'Institution Name', 'State abbreviation (HD2017)',
       'Sector of institution (HD2017)', 'Degree-granting status (HD2017)',
       'Degree of urbanization (Urban-centric locale) (HD2017)',
       'Percent paying sticker price', 'Institution (entity) name (HD2017)',
       'Institution name alias (HD2017)',
       'City location of institution (HD2017)',
       ...
       'Students from the part-time adjusted fall 2014 cohort enrolled in fall 2015 (EF2015D_RV)',
       'Part-time adjusted fall 2014 cohort (EF2015D_RV)',
       'Students from the full-time adjusted fall 2013 cohort enrolled in fall 2014 (EF2014D_RV)',
       'Full-time adjusted fall 2013 cohort (EF2014D_RV)',
       'Students from the part-time adjusted fall 2013 cohort enrolled in fall 2014 (EF2014D_RV)',
       'Part-time adjusted fall 2013 cohort (EF2014D_RV)',
       'Students from the full-time adjusted fall 2012 cohort enrolled in fall 2013 (EF2013D_RV)',
       'Full-time adjusted fall 2012 cohort (EF2013D_RV)',
       'Students from the part-time adjusted fall 2012 cohort enrolled in fall 2013 (EF2013D_RV)',
       'Part-time adjusted fall 2012 cohort (EF2013D_RV)'],
      dtype='object', length=406)

In [5]:
df_tuition_backup = df_tuition.copy()

In [6]:
df_tuition.dropna(axis='columns', how='all')

,UnitID,Institution Name,State abbreviation (HD2017),Sector of institution (HD2017),Degree-granting status (HD2017),Degree of urbanization (Urban-centric locale) (HD2017),Percent paying sticker price,Institution (entity) name (HD2017),Institution name alias (HD2017),City location of institution (HD2017),...,Students from the part-time adjusted fall 2014 cohort enrolled in fall 2015 (EF2015D_RV),Part-time adjusted fall 2014 cohort (EF2015D_RV),Students from the full-time adjusted fall 2013 cohort enrolled in fall 2014 (EF2014D_RV),Full-time adjusted fall 2013 cohort (EF2014D_RV),Students from the part-time adjusted fall 2013 cohort enrolled in fall 2014 (EF2014D_RV),Part-time adjusted fall 2013 cohort (EF2014D_RV),Students from the full-time adjusted fall 2012 cohort enrolled in fall 2013 (EF2013D_RV),Full-time adjusted fall 2012 cohort (EF2013D_RV),Students from the part-time adjusted fall 2012 cohort enrolled in fall 2013 (EF2013D_RV),Part-time adjusted fall 2012 cohort (EF2013D_RV)
0,491394.0,Edge Tech Academy,TX,9.0,2.0,21.0,NaN,Edge Tech Academy,NaN,Hurst,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,491303.0,University of Wisconsin Colleges Flex,WI,4.0,1.0,11.0,NaN,University of Wisconsin Colleges Flex,NaN,Madison,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,491297.0,University of Wisconsin-Parkside Flex,WI,1.0,2.0,22.0,100.0,University of Wisconsin-Parkside Flex,NaN,Kenosha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,491288.0,University of Wisconsin-Milwaukee Flex,WI,1.0,1.0,11.0,100.0,University of Wisconsin-Milwaukee Flex,NaN,Milwaukee,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,491242.0,Johnny Matthew's Hairdressing Training School,OR,9.0,2.0,12.0,NaN,Johnny Matthew's Hairdressing Training School,NaN,Salem,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6516,100706.0,University of Alabama in Huntsville,AL,1.0,1.0,12.0,14.0,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,Huntsville,...,4.0,10.0,491.0,638.0,8.0,13.0,498.0,615.0,4.0,9.0
6517,100690.0,Amridge University,AL,2.0,1.0,12.0,50.0,Amridge University,Southern Christian University |Regions University,Montgomery,...,2.0,3.0,NaN,3.0,2.0,3.0,3.0,8.0,1.0,3.0
6518,100663.0,University of Alabama at Birmingham,AL,1.0,1.0,12.0,13.0,University of Alabama at Birmingham,NaN,Birmingham,...,17.0,28.0,1433.0,1729.0,23.0,40.0,1325.0,1653.0,11.0,22.0
6519,100654.0,Alabama A & M University,AL,1.0,1.0,12.0,14.0,Alabama A & M University,AAMU,Normal,...,4.0,13.0,703.0,1066.0,5.0,15.0,632.0,1001.0,4.0,8.0
6520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0

In [7]:
df_tuition.dropna(axis='index', how='all')

,UnitID,Institution Name,State abbreviation (HD2017),Sector of institution (HD2017),Degree-granting status (HD2017),Degree of urbanization (Urban-centric locale) (HD2017),Percent paying sticker price,Institution (entity) name (HD2017),Institution name alias (HD2017),City location of institution (HD2017),...,Students from the part-time adjusted fall 2014 cohort enrolled in fall 2015 (EF2015D_RV),Part-time adjusted fall 2014 cohort (EF2015D_RV),Students from the full-time adjusted fall 2013 cohort enrolled in fall 2014 (EF2014D_RV),Full-time adjusted fall 2013 cohort (EF2014D_RV),Students from the part-time adjusted fall 2013 cohort enrolled in fall 2014 (EF2014D_RV),Part-time adjusted fall 2013 cohort (EF2014D_RV),Students from the full-time adjusted fall 2012 cohort enrolled in fall 2013 (EF2013D_RV),Full-time adjusted fall 2012 cohort (EF2013D_RV),Students from the part-time adjusted fall 2012 cohort enrolled in fall 2013 (EF2013D_RV),Part-time adjusted fall 2012 cohort (EF2013D_RV)
0,491394.0,Edge Tech Academy,TX,9.0,2.0,21.0,NaN,Edge Tech Academy,NaN,Hurst,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,491303.0,University of Wisconsin Colleges Flex,WI,4.0,1.0,11.0,NaN,University of Wisconsin Colleges Flex,NaN,Madison,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,491297.0,University of Wisconsin-Parkside Flex,WI,1.0,2.0,22.0,100.0,University of Wisconsin-Parkside Flex,NaN,Kenosha,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,491288.0,University of Wisconsin-Milwaukee Flex,WI,1.0,1.0,11.0,100.0,University of Wisconsin-Milwaukee Flex,NaN,Milwaukee,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,491242.0,Johnny Matthew's Hairdressing Training School,OR,9.0,2.0,12.0,NaN,Johnny Matthew's Hairdressing Training School,NaN,Salem,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6516,100706.0,University of Alabama in Huntsville,AL,1.0,1.0,12.0,14.0,University of Alabama in Huntsville,UAH |University of Alabama Huntsville,Huntsville,...,4.0,10.0,491.0,638.0,8.0,13.0,498.0,615.0,4.0,9.0
6517,100690.0,Amridge University,AL,2.0,1.0,12.0,50.0,Amridge University,Southern Christian University |Regions University,Montgomery,...,2.0,3.0,NaN,3.0,2.0,3.0,3.0,8.0,1.0,3.0
6518,100663.0,University of Alabama at Birmingham,AL,1.0,1.0,12.0,13.0,University of Alabama at Birmingham,NaN,Birmingham,...,17.0,28.0,1433.0,1729.0,23.0,40.0,1325.0,1653.0,11.0,22.0
6519,100654.0,Alabama A & M University,AL,1.0,1.0,12.0,14.0,Alabama A & M University,AAMU,Normal,...,4.0,13.0,703.0,1066.0,5.0,15.0,632.0,1001.0,4.0,8.0
6520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,14.0,15.0,16.0,17.0,18.0,19.0,20.0,21.0,22.0

In [8]:
df_tuition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6521 entries, 0 to 6520
Columns: 406 entries, UnitID to Part-time adjusted fall 2012 cohort (EF2013D_RV)
dtypes: float64(398), object(8)
memory usage: 20.2+ MB

In [9]:
df_tuition_backup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6521 entries, 0 to 6520
Columns: 406 entries, UnitID to Part-time adjusted fall 2012 cohort (EF2013D_RV)
dtypes: float64(398), object(8)
memory usage: 20.2+ MB

In [10]:
df_tuition_few_columns=df_tuition[[
'UnitID',
'Institution Name',
'State abbreviation (HD2017)',
'Percent paying sticker price',
'Institution (entity) name (HD2017)',
'Institution name alias (HD2017)',
'City location of institution (HD2017)',
'Longitude location of institution (HD2017)',
'Latitude location of institution (HD2017)',
'Retention full-time total',
'Percent admitted - total (DRVADM2017)',
'Grand total (GR2017  4-year institutions  Completers within 150% of normal time)',
'Grand total (EF2017  All students  Undergraduate total)',
'Total men (EF2017  All students  Undergraduate total)',
'Total women (EF2017  All students  Undergraduate total)',
'American Indian or Alaska Native total (EF2017A  All students  Undergraduate total)',
'Asian total (EF2017A  All students  Undergraduate total)',
'Black or African American total (EF2017A  All students  Undergraduate total)',
'Hispanic total (EF2017A  All students  Undergraduate total)',
'Native Hawaiian or Other Pacific Islander total (EF2017A  All students  Undergraduate total)',
'White total (EF2017A  All students  Undergraduate total)',
'Two or more races total (EF2017A  All students  Undergraduate total)',
'Race/ethnicity unknown total (EF2017A  All students  Undergraduate total)',
'Nonresident alien total (EF2017A  All students  Undergraduate total)',
'Total price for in-state students living on campus 2018-19 (DRVIC2018)',
'Total price for in-state students living off campus (not with family)  2018-19 (DRVIC2018)',
'Total price for in-state students living off campus (not with family)  2019-20 (DRVIC2019)'
]]

In [11]:
df_tuition_final = df_tuition_few_columns.dropna(axis='index', how='all')

In [12]:
df_pay.rename(columns={'School Name':'school_name'},inplace=True)

In [13]:
df_tuition_final.rename(columns={'Institution Name':'school_name',
'Grand total (EF2017  All students  Undergraduate total)':'total_students',
'Total men (EF2017  All students  Undergraduate total)' : 'totalmen',
'Total women (EF2017  All students  Undergraduate total)' : 'totalwomen',
'American Indian or Alaska Native total (EF2017A  All students  Undergraduate total)' : 'totalamreicanindian',
'Asian total (EF2017A  All students  Undergraduate total)' : 'totalasian',
'Black or African American total (EF2017A  All students  Undergraduate total)' : 'totalblack',
'Hispanic total (EF2017A  All students  Undergraduate total)' : 'totalhispanic',
'Native Hawaiian or Other Pacific Islander total (EF2017A  All students  Undergraduate total)' : 'totalhawaiian',
'White total (EF2017A  All students  Undergraduate total)' : 'totalwhite',
'Two or more races total (EF2017A  All students  Undergraduate total)' : 'totalmixedrace',
'Race/ethnicity unknown total (EF2017A  All students  Undergraduate total)' : 'totalunknown',
'Nonresident alien total (EF2017A  All students  Undergraduate total)' :'totalalien'},inplace=True)

/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [14]:
df_work = pd.merge(df_pay, df_tuition_final, on = 'school_name', how='inner')

In [15]:
df_work.columns

Index(['Rank', 'school_name', 'School Type', 'Early Career Pay',
       'Mid-Career Pay', '% High Meaning', '% STEM Degrees', 'UnitID',
       'State abbreviation (HD2017)', 'Percent paying sticker price',
       'Institution (entity) name (HD2017)', 'Institution name alias (HD2017)',
       'City location of institution (HD2017)',
       'Longitude location of institution (HD2017)',
       'Latitude location of institution (HD2017)',
       'Retention full-time total', 'Percent admitted - total (DRVADM2017)',
       'Grand total (GR2017  4-year institutions  Completers within 150% of normal time)',
       'total_students', 'totalmen', 'totalwomen', 'totalamreicanindian',
       'totalasian', 'totalblack', 'totalhispanic', 'totalhawaiian',
       'totalwhite', 'totalmixedrace', 'totalunknown', 'totalalien',
       'Total price for in-state students living on campus 2018-19 (DRVIC2018)',
       'Total price for in-state students living off campus (not with family)  2018-19 (DRVIC2018)',
       'Total price for in-state students living off campus (not with family)  2019-20 (DRVIC2019)'],
      dtype='object')

In [22]:
df_work['%men'] = df_work.apply(lambda r : r.totalmen * 100 / r.total_students, axis=1).round(2)
df_work['%women'] = df_work.apply(lambda r : r.totalwomen * 100 / r.total_students, axis=1).round(2)
df_work['%amreicanindian'] = df_work.apply(lambda r : r.totalamreicanindian * 100 / r.total_students, axis=1).round(2)
df_work['%asian'] = df_work.apply(lambda r : r.totalasian * 100 / r.total_students, axis=1).round(2)
df_work['%black'] = df_work.apply(lambda r : r.totalblack * 100 / r.total_students, axis=1).round(2)
df_work['%hispanic'] = df_work.apply(lambda r : r.totalhispanic * 100 / r.total_students, axis=1).round(2)
df_work['%hawaiian'] = df_work.apply(lambda r : r.totalhawaiian * 100 / r.total_students, axis=1).round(2)
df_work['%white'] = df_work.apply(lambda r : r.totalwhite * 100 / r.total_students, axis=1).round(2)
df_work['%mixedrace'] = df_work.apply(lambda r : r.totalmixedrace * 100 / r.total_students, axis=1).round(2)
df_work['%unknown'] = df_work.apply(lambda r : r.totalunknown * 100 / r.total_students, axis=1).round(2)
df_work['%alien'] = df_work.apply(lambda r : r.totalalien * 100 / r.total_students, axis=1).round(2)